@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'jetbrains';
  src: url(../fonts/jetbrains/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'hack';
  src: url(../fonts/hack/HackNerdFont-Regular.ttf);
}



html {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: 'jetbrains';
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}

#sidebar>ul>li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  >div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu a {
  padding-left: 2em;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover {
  background-color: var(--hover-clr);
}

main {
  padding: min(30px, 7%);
}

main p {
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}

.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2,
  p {
    margin-top: 1em
  }
}

@media(max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }

  main {
    padding: 2em 1em 60px 1em;
  }

  .container {
    border: none;
    padding: 0;
  }

  #sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    >ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul li {
      height: 100%;
      margin-bottom: 10px;
    }
  }
}

.form-container {
  /* background-color: var(--hover-clr); */
  padding: 2em;
  /* border-radius: 1em; */
  /* border: 1px solid var(--line-clr); */
  max-width: 400px;
  margin: auto;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1em;
  color: var(--text-clr);
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  color: var(--secondary-text-clr);
  font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid var(--line-clr);
  border-radius: 0.5em;
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--accent-clr);
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid var(--line-clr);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--base-clr);
}

.checkbox-group input:checked {
  background-color: var(--accent-clr);
  border-color: var(--accent-clr);
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 0.75em;
  background-color: var(--accent-clr);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
  transition: background 200ms ease;
}

.submit-btn:hover {
  background-color: #4b50d1;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-button {
  width: 100%;
  padding: 0.75em;
  border: 2px solid var(--line-clr);
  border-radius: 0.5em;
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button:focus {
  outline: none;
  border-color: var(--accent-clr);
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--base-clr);
  border: 1px solid var(--line-clr);
  border-radius: 0.5em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-item {
  padding: 0.75em;
  color: var(--text-clr);
  cursor: pointer;
  transition: background 200ms ease;
}

.dropdown-item:hover {
  background-color: var(--hover-clr);
}

.action-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.action-button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between button and input */
}

/* setting */

.settingList {
  margin-top: 325px;
}

/* app buttons */

.app-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  justify-items: center;
  padding: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Ensures the icon and label are centered */
  justify-content: center;
  /* Align items vertically */
  gap: 8px;
  /* Adds spacing between the icon and label */
  text-decoration: none;
  color: var(--text-clr);
  transition: transform 0.2s ease-in-out;
}

.app:hover {
  transform: scale(1.1);
}

.app img {
  width: 64px;
  height: 64px;
  border-radius: 15px;
  object-fit: cover;
  /* Ensures the image fills its dimensions */
}

.app-label {
  margin: 0;
  /* Removes extra margin that might cause misalignment */
  font-size: 14px;
  /* Ensures consistent text size */
  text-align: center;
  /* Centers the label text */
  color: var(--text-clr);
  /* Inherits the color variable */
}